@use '../variables/colors';

.events {
  padding: 3rem 0;

  @media (max-width: 426px) {
    padding: 1rem 0;
    padding-bottom: 0;
  }
}

.event-card__wrapper-near,
.event-card__wrapper-upcomming,
.events-inner__header {

  @media (max-width: 1224px) {
    padding: 0 1.5rem;
  }
}

.events-inner__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events-inner-header__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.events-inner-header__left-title {
  font-size: 1.75rem;

  @media (max-width: 442px) {
    font-size: 1.2rem;
  }
}

.search_link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: colors.$secondary-color-light;
  border-radius: 0.5rem;
  
  @media (max-width: 426px) {
    padding: 0.5rem;
  }
}

.city-search__link {
  color: colors.$secondary-color;
  font-weight: 600;
  font-size: 1.25rem;
  transition: all 0.3s ease;

  @media (max-width: 442px) {
    font-size: 0.8rem;
  }
}

.see-events__link {
  color: colors.$secondary-color;
  font-weight: 500;
  transition: all 0.3s ease;
}

.see-events__link:hover {
  color: colors.$primary-color;
}

.event-card__wrapper-near,
 .event-card__wrapper-upcomming{
  display: flex;
  justify-content: flex-start;
  gap: 2.25rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;

   @media (max-width: 611px) {
    gap: 1rem;
  }
}

.event-card {
  max-width: 17rem;
  width: 100%;
  margin-top: 1.5rem;

  @media (max-width: 611px) {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    max-width: 37.5rem;
    align-items: center;
    border-top: 1px solid colors.$border-color;
    padding-top: 0.8rem;
    margin-top: 0.5rem;
  }
}

.event-card__info-wrapper {
  margin-top: 0.5rem;

  @media (max-width: 611px) {
    margin-top: 0;
  }
}

.event-card__cover {
  width: 100%;
  max-width: 17rem;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;

  @media (max-width: 611px) {
    width: 160px;
    aspect-ratio: 16 / 9;
    flex-shrink: 0;
  }
}

.event-card__cover__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
  will-change: transform;

  @media (max-width: 611px) {
    width: 160px;
  }
  
}

.event-card__cover a:hover .event-card__cover__img {
  transform: scale(1.12);
}

.event-card__info {
  width: 100%;
}

.event-card__info__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: colors.$font-color;
  transition: all 0.3s ease;

  @media (max-width: 611px) {
    font-size: 0.6rem;
  }
}

.event-card__info__title:hover {
  color: colors.$primary-color;
}

.event-card__info__category {
  margin-top: 0.6rem;
  color: colors.$grey-color;
  font-size: 1rem;

  @media (max-width: 611px) {
    font-size: 0.55rem;
    margin-top: 0.2rem;
  }
}

.event-card-info-description__date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.8rem;

  span {
    text-transform: uppercase;
  }

  img {
    @media (max-width: 611px) {
    width: 0.8rem;
    }
  }

  @media (max-width: 611px) {
    font-size: 0.6rem;
    margin-top: 0.2rem;
  }
}

.event-card-info-description__bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.event-card-info-description__guests,
.event-card-info-description__price {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.8rem;

  span {
  @media (max-width: 611px) {
    font-size: 0.55rem;
  }
  }

  @media (max-width: 611px) {
    margin-top: 0.2rem;
  }

  img {
    @media (max-width: 611px) {
    width: 0.8rem;
    }
  }
}

.events-inner-upcoming {
  margin-top: 2rem;
}

.mobile__see-events__link {

  @media (max-width: 611px) {
    display: none;
  }
}

.not-found-events-title {
  margin-top: 1rem;
  font-size: 1rem;
  color: colors.$grey-color;
  font-weight: 500;
}