$primary-color: #F65858;
$secondary-color: #00798A;
$border-color: #D9D9D9;
$font-color: #212121;
$white-color: #fff;
$grey-color: #707070;
$red-color: #E32359;

$secondary-color-light: #F3F9F9;

$primary-color__hover: #f43f3f;
$secondary-color__hover: #015f6b;
$red-color__hover: #bf1243;