@use 'variables/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: colors.$font-color;
}

h1 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1196px;
  width: 100%;
  margin: 0 auto;
}