* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
}

h1 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 74.75rem;
  width: 100%;
  margin: 0 auto;
}

.nav-menu__inner {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  align-items: center;
}
@media (max-width: 426px) {
  .nav-menu__inner {
    padding: 0.75rem 1rem;
  }
}

.nav-menu-inner__left {
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
  align-items: center;
  width: auto;
}

.nav-menu__search {
  max-width: 36rem;
  width: 100%;
}

.form-menu-search {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 0.8rem 1.5rem 0.8rem 2.3rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border: 1px solid #D9D9D9;
  background-image: url("/images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 0.75rem center;
  background-size: 1.1rem;
  max-width: 18.75rem;
  width: 100%;
}

.search-input::-moz-placeholder {
  color: #707070;
  position: relative;
}

.search-input::placeholder {
  color: #707070;
  position: relative;
}

.search-city-input {
  padding: 0.8rem 1.1rem;
  border: 1px solid #D9D9D9;
  margin-left: -5px;
  max-width: 15.8rem;
  width: 100%;
}

.search-button {
  background-image: url("/images/icons/search-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.25rem 1.25rem;
  width: 2.68rem;
  height: 2.68rem;
  background-color: #F65858;
  border: 1px solid #F65858;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  cursor: pointer;
  margin-left: -5px;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.search-button:hover {
  background-color: #bf1243;
}

.nav-menu-inner__right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  width: auto;
  flex-shrink: 0;
}
@media (max-width: 840px) {
  .nav-menu-inner__right {
    font-size: 0.75rem;
  }
}

.nav-menu-inner-right__language {
  display: flex;
  font-weight: 500;
  gap: 0.25rem;
  cursor: pointer;
}

.language-title:hover {
  color: #F65858;
}

.sigin-button {
  color: #212121;
}

.sigin-button:hover {
  color: #F65858;
}

.sigup-button {
  color: #fff;
  background-color: #00798A;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.sigup-button:hover {
  background-color: #015f6b;
}

.mobile-form-search {
  display: none;
}

@media (max-width: 840px) {
  .mobile-form-search {
    display: block;
    padding: 0 1rem;
  }
  .desktop-form-search {
    display: none;
  }
}
.hero-inner {
  display: flex;
  gap: 3.3rem;
  align-items: center;
  padding: 6rem 0;
}
@media (max-width: 1224px) {
  .hero-inner {
    padding: 2.5rem 1.5rem;
  }
}
@media (max-width: 862px) {
  .hero-inner {
    flex-wrap: wrap;
    padding: 1.8rem 1rem;
    gap: 0.5rem;
  }
}

.hero-inner__info {
  max-width: 37rem;
}

.hero-inner-info__title {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 862px) {
  .hero-inner-info__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

.hero-inner-info__description {
  margin-bottom: 1.5rem;
}
@media (max-width: 862px) {
  .hero-inner-info__description {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
}

.hero-inner-info__link {
  background-color: #00798A;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.hero-inner-info__link:hover {
  background-color: #015f6b;
}

.mobile-hero-info-link {
  display: none;
}

@media (max-width: 862px) {
  .hero-inner__item {
    margin: 0 auto;
  }
}

@media (max-width: 862px) {
  .mobile-hero-info-link {
    display: inline-flex;
  }
  .desktop-hero-info-link {
    display: none;
  }
  .hero_info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .hero-inner__item > img {
    width: 100%;
  }
}
.events {
  padding: 3rem 0;
}
@media (max-width: 426px) {
  .events {
    padding: 1rem 0;
    padding-bottom: 0;
  }
}

@media (max-width: 1224px) {
  .event-card__wrapper-near,
  .event-card__wrapper-upcomming,
  .events-inner__header {
    padding: 0 1.5rem;
  }
}

.events-inner__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events-inner-header__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.events-inner-header__left-title {
  font-size: 1.75rem;
}
@media (max-width: 442px) {
  .events-inner-header__left-title {
    font-size: 1.2rem;
  }
}

.search_link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #F3F9F9;
  border-radius: 0.5rem;
}
@media (max-width: 426px) {
  .search_link {
    padding: 0.5rem;
  }
}

.city-search__link {
  color: #00798A;
  font-weight: 600;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}
@media (max-width: 442px) {
  .city-search__link {
    font-size: 0.8rem;
  }
}

.see-events__link {
  color: #00798A;
  font-weight: 500;
  transition: all 0.3s ease;
}

.see-events__link:hover {
  color: #F65858;
}

.event-card__wrapper-near,
.event-card__wrapper-upcomming {
  display: flex;
  justify-content: flex-start;
  gap: 2.25rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
@media (max-width: 611px) {
  .event-card__wrapper-near,
  .event-card__wrapper-upcomming {
    gap: 1rem;
  }
}

.event-card {
  max-width: 17rem;
  width: 100%;
  margin-top: 1.5rem;
}
@media (max-width: 611px) {
  .event-card {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    max-width: 37.5rem;
    align-items: center;
    border-top: 1px solid #D9D9D9;
    padding-top: 0.8rem;
    margin-top: 0.5rem;
  }
}

.event-card__info-wrapper {
  margin-top: 0.5rem;
}
@media (max-width: 611px) {
  .event-card__info-wrapper {
    margin-top: 0;
  }
}

.event-card__cover {
  width: 100%;
  max-width: 17rem;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
}
@media (max-width: 611px) {
  .event-card__cover {
    width: 160px;
    aspect-ratio: 16/9;
    flex-shrink: 0;
  }
}

.event-card__cover__img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
  will-change: transform;
}
@media (max-width: 611px) {
  .event-card__cover__img {
    width: 160px;
  }
}

.event-card__cover a:hover .event-card__cover__img {
  transform: scale(1.12);
}

.event-card__info {
  width: 100%;
}

.event-card__info__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #212121;
  transition: all 0.3s ease;
}
@media (max-width: 611px) {
  .event-card__info__title {
    font-size: 0.6rem;
  }
}

.event-card__info__title:hover {
  color: #F65858;
}

.event-card__info__category {
  margin-top: 0.6rem;
  color: #707070;
  font-size: 1rem;
}
@media (max-width: 611px) {
  .event-card__info__category {
    font-size: 0.55rem;
    margin-top: 0.2rem;
  }
}

.event-card-info-description__date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.8rem;
}
.event-card-info-description__date span {
  text-transform: uppercase;
}
@media (max-width: 611px) {
  .event-card-info-description__date img {
    width: 0.8rem;
  }
}
@media (max-width: 611px) {
  .event-card-info-description__date {
    font-size: 0.6rem;
    margin-top: 0.2rem;
  }
}

.event-card-info-description__bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.event-card-info-description__guests,
.event-card-info-description__price {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.8rem;
}
@media (max-width: 611px) {
  .event-card-info-description__guests span,
  .event-card-info-description__price span {
    font-size: 0.55rem;
  }
}
@media (max-width: 611px) {
  .event-card-info-description__guests,
  .event-card-info-description__price {
    margin-top: 0.2rem;
  }
}
@media (max-width: 611px) {
  .event-card-info-description__guests img,
  .event-card-info-description__price img {
    width: 0.8rem;
  }
}

.events-inner-upcoming {
  margin-top: 2rem;
}

@media (max-width: 611px) {
  .mobile__see-events__link {
    display: none;
  }
}

.not-found-events-title {
  margin-top: 1rem;
  font-size: 1rem;
  color: #707070;
  font-weight: 500;
}

@media (max-width: 1224px) {
  .join-meetup {
    padding: 1.25rem 1.5rem;
    margin-bottom: 2rem;
  }
}

.join-meetup__inner {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 3.5rem;
  align-items: center;
  background-color: #F3F9F9;
  border-radius: 0.5rem;
  gap: 4.5rem;
}
@media (max-width: 862px) {
  .join-meetup__inner {
    flex-wrap: wrap;
    padding: 1.8rem 1rem;
    gap: 2rem;
  }
}

.join-meetup__inner-info-title {
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-weight: 500;
}
@media (max-width: 426px) {
  .join-meetup__inner-info-title {
    font-size: 1.2rem;
  }
}

.join-meetup__inner-info-description {
  margin-bottom: 1.5rem;
}
@media (max-width: 426px) {
  .join-meetup__inner-info-description {
    font-size: 0.8rem;
  }
}

.join-meetup__inner-info-link {
  background-color: #E32359;
  color: #fff;
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
@media (max-width: 862px) {
  .join-meetup__inner-info-link {
    margin: 0 auto;
  }
}

.join-meetup__inner-info-link:hover {
  background-color: #bf1243;
}

.mobile-join-meetup__inner-img {
  display: none;
}
@media (max-width: 862px) {
  .mobile-join-meetup__inner-img {
    display: inline-flex;
    margin: 0 auto;
  }
}

@media (max-width: 862px) {
  .descktop-join-meetup__inner-img {
    display: none;
  }
}

@media (max-width: 862px) {
  .join-meetup__inner-img img {
    width: 100%;
  }
}

@media (max-width: 862px) {
  .meetup-img__wrapper {
    display: flex;
    margin: 1rem 0;
  }
}

@media (max-width: 862px) {
  .join-meetup__btn {
    display: flex;
    justify-self: center;
  }
}

.categories {
  padding: 4rem 0;
}
@media (max-width: 1224px) {
  .categories {
    padding: 0 1.5rem;
  }
}

.categories-title {
  font-size: 1.75rem;
}
@media (max-width: 442px) {
  .categories-title {
    font-size: 1.2rem;
  }
}

.categories__inner {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
}
@media (max-width: 1224px) {
  .categories__inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (max-width: 786px) {
  .categories__inner {
    justify-content: center;
  }
}

.categories__inner-item {
  padding: 1.2rem 1.8rem;
  text-align: center;
  background-color: #F3F9F9;
  border-radius: 0.5rem;
  width: 135px;
}

.categories__inner-item-img {
  margin-bottom: 0.3rem;
}

@media (max-width: 1224px) {
  .cities {
    padding: 0 1.5rem;
    margin-top: 4rem;
  }
}

.cities-header {
  margin-bottom: 2rem;
}

.cities-title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 442px) {
  .cities-title {
    font-size: 1.2rem;
  }
}

.cities-description {
  color: #707070;
}

.cities__inner {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 1124px) {
  .cities__inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (max-width: 694px) {
  .cities__inner {
    justify-content: center;
  }
}

.cities-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 472px) {
  .cities-item__img img {
    width: 153px;
  }
}

.cities-item__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #212121;
}
@media (max-width: 472px) {
  .cities-item__title {
    font-size: 1rem;
  }
}

.cities-item__title:hover {
  color: #F65858;
}

.how-it-works {
  padding-top: 4rem;
}
@media (max-width: 1224px) {
  .how-it-works {
    padding: 4rem 1.5rem;
  }
}

.how-it-works__title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
@media (max-width: 442px) {
  .how-it-works__title {
    font-size: 1.2rem;
  }
}

.how-it-works__inner {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 856px) {
  .how-it-works__inner {
    flex-wrap: wrap;
    gap: 0.8rem;
  }
}

.how-it-works__inner-discover {
  display: flex;
  gap: 1.5rem;
  padding: 1.75rem 1.25rem;
  background-color: #F3F9F9;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1.5rem;
}
@media (max-width: 442px) {
  .how-it-works__inner-discover {
    padding: 1rem;
    margin-top: 1rem;
  }
}

.how-it-works__inner-discover__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 442px) {
  .how-it-works__inner-discover__info {
    gap: 0.5rem;
  }
}

.how-it-works__inner-discover__info-title {
  font-size: 1.25rem;
}
@media (max-width: 442px) {
  .how-it-works__inner-discover__info-title {
    font-size: 1rem;
  }
}

@media (max-width: 442px) {
  .how-it-works__inner-discover__info-description {
    font-size: 0.8rem;
  }
}

.how-it-works__inner-discover__info-link {
  color: #00798A;
  font-weight: 500;
}
@media (max-width: 442px) {
  .how-it-works__inner-discover__info-link {
    font-size: 0.8rem;
  }
}

.how-it-works__inner-discover__info-link:hover {
  color: #F65858;
}

@media (max-width: 442px) {
  .how-it-works__inner-discover__icon img {
    width: 1.5rem;
  }
}

.blog {
  padding: 4rem 0;
}
@media (max-width: 1224px) {
  .blog {
    padding: 1rem 1.5rem;
  }
}

.blog-title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 442px) {
  .blog-title {
    font-size: 1.2rem;
  }
}

.blog-description {
  max-width: 53rem;
  color: #707070;
}

.blog-inner {
  margin-top: 1.75rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 1224px) {
  .blog-inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.blog-item {
  max-width: 23.5rem;
}

.blog-item__info-title {
  font-size: 1.1rem;
  margin-top: 1.5rem;
}
@media (max-width: 442px) {
  .blog-item__info-title {
    font-size: 1rem;
  }
}

.blog-item__info-description {
  margin: 0.8rem 0 1rem 0;
  color: #707070;
}
@media (max-width: 442px) {
  .blog-item__info-description {
    font-size: 0.8rem;
  }
}

.blog-item__info-link {
  color: #00798A;
  transition: all 0.3s ease;
}
@media (max-width: 442px) {
  .blog-item__info-link {
    font-size: 0.8rem;
  }
}

.blog-item__info-link:hover {
  color: #F65858;
}

@media (max-width: 862px) {
  .blog-item__cover img {
    width: 100%;
  }
}

.footer {
  background-color: #212121;
  color: #F6F7F8;
  padding: 1.5rem 0;
}
@media (max-width: 1224px) {
  .footer {
    padding: 1rem 1.5rem;
  }
}

.footer__top {
  display: flex;
  gap: 3.3rem;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding-bottom: 2rem;
}
@media (max-width: 436px) {
  .footer__top {
    gap: 1rem;
  }
}

@media (max-width: 436px) {
  .footer__top-text {
    font-size: 0.8rem;
  }
}

.footer__links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.footer__top-button {
  padding: 0.65rem 0.9rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease;
}
@media (max-width: 436px) {
  .footer__top-button {
    font-size: 0.8rem;
  }
}

.footer__top-button:hover {
  background-color: #fff;
  color: #212121;
}

.footer__links-item-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.footer__links-item {
  max-width: 23.25rem;
  width: 100%;
}
.footer__links-item ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 496px) {
  .footer__links {
    gap: 0.5rem;
  }
}

.footer-link {
  color: #C5C4C4;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: #fff;
  margin-left: 0.2rem;
}

.footer__social-title {
  margin-bottom: 0.8rem;
}

.footer__social-icons {
  display: flex;
  gap: 2rem;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  align-items: flex-end;
}

.footer__social-apps {
  display: flex;
  gap: 2rem;
}

.footer__bottom {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.footer-bottom-links-wrapper {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 897px) {
  .mobile__footer-bottom-links-wrapper {
    display: none;
  }
}

@media (max-width: 652px) {
  .mobile__footer__social-apps {
    display: none;
  }
}

.footer__bottom-link {
  color: #C5C4C4;
  transition: all 0.3s ease;
}
@media (max-width: 496px) {
  .footer__bottom-link {
    font-size: 0.8rem;
  }
}

.footer__bottom-link:hover {
  color: #fff;
  margin-left: 0.2rem;
}

.events-inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1226px) {
  .events-inner {
    justify-content: flex-start;
  }
}

.filter {
  padding: 4rem 0;
  min-width: 0;
}
@media (max-width: 1224px) {
  .filter {
    padding: 1rem 1.5rem;
  }
}

.filter-selects {
  display: flex;
  gap: 1rem;
  width: -moz-max-content;
  width: max-content;
}

.filters-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.filter-title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
@media (max-width: 442px) {
  .filter-title {
    font-size: 1.5rem;
  }
}

.filter-tabs__events {
  font-size: 1.25rem;
  font-weight: 500;
  color: #00798A;
  border-bottom: 4px solid #00798A;
}

.filter-tabs {
  margin-bottom: 0.75rem;
}

.select-wrapper {
  position: relative;
  display: inline-flex;
  margin-top: 0.75rem;
  flex-shrink: 0;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  background-image: url(/images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.6rem;
  height: 0.6rem;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.cus-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1rem 2.6rem 1rem 1rem;
  background-color: #F6F7F8;
  border-radius: 2.5rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  inline-size: -moz-max-content;
  inline-size: max-content;
  min-inline-size: -moz-fit-content;
  min-inline-size: fit-content;
  white-space: nowrap;
  cursor: pointer;
}

.filter-selects {
  display: flex;
  gap: 1rem;
}

.filter-events {
  margin-top: 3.5rem;
}
@media (max-width: 442px) {
  .filter-events {
    margin-top: 1rem;
  }
}

.filter-events__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-top: 1px solid #D9D9D9;
  padding-top: 1rem;
  margin-bottom: 2.5rem;
}

.filter-events__item-cover img {
  width: 100%;
}
@media (max-width: 442px) {
  .filter-events__item-cover img {
    max-width: 6.25rem;
    margin-bottom: 0;
    align-items: flex-start;
  }
}

.filter-events__item-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.filter-events__item-info__date {
  text-transform: uppercase;
  color: #7C6F50;
  font-weight: 500;
  font-size: 0.9rem;
}
@media (max-width: 442px) {
  .filter-events__item-info__date {
    font-size: 0.55rem;
  }
}

.filter-events__item-info__title {
  font-weight: 500;
}
@media (max-width: 442px) {
  .filter-events__item-info__title {
    font-size: 0.55rem;
  }
}

.filter-events__item-info__categories {
  color: #707070;
  font-weight: 500;
}
@media (max-width: 442px) {
  .filter-events__item-info__categories {
    font-size: 0.55rem;
  }
}

.filter-events__item-info__bottom {
  display: flex;
  gap: 0.5rem;
  color: #707070;
  margin-top: 1.75rem;
}
@media (max-width: 442px) {
  .filter-events__item-info__bottom {
    font-size: 0.55rem;
    margin-top: 0.3rem;
  }
}

.filter-events__item-info__bottom__left {
  color: #E32359;
}

.hidden {
  display: none;
}

.map {
  padding: 4rem 0;
}
@media (max-width: 1224px) {
  .map {
    padding: 1rem 1.5rem;
  }
}

.map-header__subtitle {
  font-size: 0.75rem;
}

.map-header__title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
@media (max-width: 442px) {
  .map-header__title {
    font-size: 1rem;
  }
}

.map-img {
  background-image: url(/images/map.png);
  width: 350px;
  height: 285px;
}

.map-img__close-icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  padding-top: 0.6rem;
}
.map-img__close-icon img {
  padding: 0.25rem;
  background-color: #fff;
  cursor: pointer;
}

.map-button__wrapper {
  display: flex;
  justify-content: center;
  transform: translate(0, -10%);
  height: 100%;
  align-items: center;
}

.map-img__browse-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.5rem;
  border: 2px solid #00798A;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  color: #00798A;
  cursor: pointer;
  transition: all 0.3s ease;
}

.map-img__browse-btn:hover {
  color: #F65858;
  border: 2px solid #F65858;
}

.browse-btn__icon {
  width: 1rem;
  height: 1rem;
  background-image: url("/images/icons/browse-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.browse-btn__icon:hover {
  background-image: url("/images/icons/browse-icon-hover.svg");
}

@media (max-width: 1126px) {
  .mobile-map {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */